/*
 * author: lixinjie
 * date:20170223
 * pageWidth: 1100px
 * */
@charset "utf-8";
/*CSS document*/
/*让IE浏览器对不识别的 HTML5 元素将其当做块级元素处理*/
details,
main,
summary {
  display: block;
}
/*设置所有浏览器中外边距不为零的元素的外边距为零*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
pre,
textarea,
fieldset,
figure,
ul,
ol,
dl,
dd,
menu {
  margin: 0;
}
/*设置所有浏览器中内填充不为零的元素的内填充为零*/
input,
textarea,
button,
select,
option,
fieldset,
legend,
ul,
li,
menu,
th,
td {
  padding: 0;
}
/*设置所有浏览器中边框不为零的元素的边框为零*/
hr,
progress,
input,
textarea,
button,
select,
fieldset {
  border: 0;
}
/* 设置所有元素的盒模型，将内填充和边距算在宽或高之列 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* 在 IE浏览器 和 iOS 设备的浏览器中阻止调整字体的尺寸 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* 为 body 元素设置字体尺寸和类型 */
body {
  font-size: 16px;
  color: #333333;
  font-family: "Microsoft Yahei", Arial, sans-serif;
}
/* 在 IE 9 及低版本浏览器中为下列元素设置为 inline-block 的显示方式 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/* 在 iOS 4-7 中为无 controls属性的 audio 元素添加正确的显示方式 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/* 在 Chrome, Firefox 和 Opera 中设置垂直方向基线对齐方式  */
progress {
  vertical-align: baseline;
}
/* 1. 在 IE 中添加正确的显示方式 */
template,
[hidden] {
  display: none;
}
/* ===链接=== */
/**
 * 1. 在 IE 10 中移除链接被激活后的灰色背景
 * 2. 在 iOS 8+ 和 Safari 8+ 中删除链接下划线位置处的空白
 */
a {
  color: #333;
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none;
}
/* 当链接处于焦点、被激活和鼠标悬停其上时清除轮廓 */
a:focus,
a:active,
a:hover {
  outline-width: 0;
}
/* ===文本=== */
/**
 * 1. 在 Firefox 39 及之前的版本中移除 abbr 元素的下边框
 * 2. 在 Chrome, Edge, IE, Opera 和 Safari 中为 abbr 元素添加下划线
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
}
/* 在 Safari 6 中防止下列元素通过后面的规则重复的应用程序的字体为粗体 */
b,
strong {
  font-weight: inherit;
}
/* 在 Chrome, Edge 和 Safari 浏览器中为下列元素添加正确的字体粗细 */
b,
strong {
  font-weight: bolder;
}
/* 在 Android 4.3 及之前系统的设备中的浏览器为下列元素添加字体风格为斜体 */
dfn {
  font-style: italic;
}
/* 在 Chrome, Firefox 和 Safari 浏览器中纠正在含有 section 和 article 语境下的 h1 元素的字体尺寸和外边距 */
article h1,
section h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* 在 IE 9 及之前的浏览器版本中为 mark 元素添加背景颜色和字体颜色 */
mark {
  background-color: #ff0;
  color: #000;
}
/* 为 small 元素设置字体尺寸为离其最近的含有 font-size 属性的祖先元素的值的 80% */
small {
  font-size: 80%;
}
/* 防止 sub 和 sup 元素影响行高 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* ===嵌入式内容=== */
/* 在 IE 10 及更早的浏览器中当图片处于链接内部时移除图片的边框 */
img {
  border-style: none;
}
/* 在 IE 浏览器中当 svg 元素不是根元素时隐藏溢出 */
svg:not(:root) {
  overflow: hidden;
}
/* ===分组内容=== */
/* 1. 纠正字体尺寸的继承和缩放(momospace字体是linux系统下的默认字体)
 * 2. 在所有浏览器中纠正奇数的以 em 作为单位的字体尺寸
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* 在 IE 8 浏览器下为 figure 元素添加适当的外边距 */
/* figure { margin: 1em 40px; } */
/**
 * 1. 在 Firefox 浏览器下为 hr 元素添加正确的和模型尺寸计算方式
 * 2. 在 Edge 和 IE 中 hr 元素溢出时不隐藏
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* ===表单=== */
/**
 * 1. 改变字体属性为继承
 * 2. 在 Firefox 和 Safari 中为下列元素移除外边距
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
<<<<<<< HEAD
button:focus {
	outline: none;
}

=======
>>>>>>> origin/master
/* 通过之前的规则修复 optgroup 元素的字体粗细 */
optgroup {
  font-weight: bold;
}
/* 溢出时不隐藏 */
button,
input {
  overflow: visible;
}
/* 移除文本大小写的继承 */
button,
select {
  text-transform: none;
}
/**
 * 1. 在 Android 4 系统版本中阻止破坏本地的音频视频控件的错误
 * 2. 在 iOS 和 Safari 中纠正不能点击的类型
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 * 在 Firefox 中移除内部边框和内填充(firefox浏览器中button元素点击时会出现虚线边框)
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/* 由先前的规则恢复焦点样式设置 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/* 设置 fieldset 元素的 border, margin 和 padding 属性的值 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. 在 Edge 和 IE 中纠正文本包裹
 * 2. 纠正在 IE 中从 fieldset 元素继承而来的颜色值
 * 3. 在所有浏览器中当开发者清零了 fieldset 元素的属性时，移除 padding 属性的值，以便他们能找出其它错误
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/* 在 IE 浏览器中移除默认的垂直导航条 */
textarea {
  overflow: auto;
}
/* 在 IE 10 及之前的浏览器中改变盒模型的默认规则，即将内填充和边框也算在宽高之内 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* 纠正在 Chrome 浏览器中递增和递减按钮的光标样式 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. 纠正 Chrome 和 Safari 浏览器奇怪的外观（看上去像文本框）
 * 2. 纠正在 Safari 浏览器中的轮廓样式（设置轮廓的偏移）
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/* 在 OS X 的 Chrome 和 Safari 浏览器中删除内填充和移除按钮 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* 纠正在 Chrome, Edge 和 Safari 中文本占位符属性的样式 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. 纠正在 iOS 和 Safair 中可点击类型不能点击的样式
 * 2. 更改字体属性，在 Safari 中以继承的方式。
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* ===表格=== */
/**
 * 设置表格的边框合并为单一的边框，
 * border-collapse 属性会忽略 border-spacing(相邻单元格边框间的距离) 属性和 empty-cells(是否在空单元格周围绘制边框)
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
/* ===列表=== */
/* 设置列表的标记类型为无 */
ol,
ul {
  list-style-type: none;
}
/* ===基础设置=== */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
<<<<<<< HEAD
.clearfix:after { clear: both; }

/*===矢量图标字体===*/
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1488288562572'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1488288562572#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1488288562572') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1488288562572') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1488288562572#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-time:before { content: "\e615"; }
.icon-scan:before { content: "\e65f"; }

/* ===基础设置=== */
figure,
figure.logo {
=======
.ellipsis {
>>>>>>> origin/master
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.margin-auto {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.vertical-middle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
figure {
  overflow: hidden;
}
figure a {
  display: block;
}
figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
label {
  cursor: pointer;
}
label:hover {
  opacity: .8;
}
/*===首页===*/
.header {
  padding-top: 30px;
  padding-bottom: 20px;
  width: 1100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.header:before {
  content: "";
  display: table;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header figure {
  width: 98px;
  height: 56px;
  float: left;
}
.header .nav {
  padding-top: 16px;
  float: right;
}
.nav-list {
  height: 40px;
}
.nav-list li {
  float: left;
  height: 40px;
  margin-right: 12px;
  margin-left: 12px;
}
.nav-list li a {
  display: block;
  height: 40px;
  line-height: 38px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-right: 10px;
  padding-left: 10px;
  color: #3b3b3b;
}
.nav-list li a.active,
.nav-list li a:hover {
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  color: #313131;
}
/*案例*/
.case {
  margin-top: 60px;
}
.case-item {
  float: left;
  width: 350px;
  margin-right: 25px;
}
.case-item:nth-last-of-type(1) {
  margin-right: 0;
}
.case-item a {
  display: block;
}
.case-item img {
  width: 350px;
  height: 150px;
}
.case-item h3 {
  margin-top: 18px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  color: #4c4c4c;
}
.case-item p {
  margin-top: 10px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #666;
}
.case .more {
  text-align: right;
}
.case .more a {
  display: inline-block;
  font-size: 14px;
  color: #e01c21;
  padding: 5px 10px;
}
/*公司简介*/
.intro {
  position: relative;
  width: 1920px;
  height: 320px;
  max-width: 100%;
  margin-top: 60px;
  background: url(../img/intro.jpg) no-repeat;
}
.intro a {
  display: block;
}
.intro .intro-text {
  width: 825px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro .intro-text h2 {
  font-size: 30px;
  color: #4C4C4C;
  text-align: center;
  font-weight: 500;
}
.intro .intro-text p {
  margin-top: 25px;
  line-height: 1.5;
  font-size: 16px;
  color: #565656;
  text-align: center;
}
/*公司动态*/
.news {
  width: 990px;
  margin: 60px auto 0;
}
.news h2 {
  font-size: 30px;
  color: #4C4C4C;
  font-weight: 500;
}
.news .more {
  margin-top: 10px;
  text-align: center;
}
.news .more a {
  display: inline-block;
  color: #e01c21;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
}
.news-item {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #b3b3b3;
}
.news-item a {
  display: block;
  font-size: 0;
}
.news-item a img {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 120px;
  margin-right: 30px;
}
.news-item a .text {
  width: 800px;
  display: inline-block;
  vertical-align: middle;
  max-height: 120px;
  overflow: hidden;
}
.news-item a .text time {
  display: block;
  line-height: 1.3;
  font-size: 18px;
  color: #4c4c4c;
}
.news-item a .text h3 {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 16px;
  color: #666;
  font-weight: 500;
}
/*友情链接*/
.flink-bg {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #f0f0f0;
}
.flink {
  width: 990px;
  margin-right: auto;
  margin-left: auto;
}
.flink h2 {
  font-size: 30px;
  color: #4C4C4C;
  font-weight: 500;
}
.flink .flink-list {
  margin-top: 10px;
}
.flink-item {
  width: 222px;
  height: 120px;
  margin-top: 30px;
  float: left;
}
.flink-item:not(:nth-of-type(4n)) {
  margin-right: 34px;
}
.flink-item a {
  display: block;
  position: relative;
  width: 222px;
  height: 120px;
}
.flink-item img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
/*页尾*/
.footer {
  border-top: 2px solid #c8c8c8;
  background-color: #f0f0f0;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer small {
  color: #4c4c4c;
  line-height: 1.5;
  font-size: 14px;
  text-align: center;
}
/*===联系我们===*/
.contact-bg {
  width: 1920px;
  max-width: 100%;
  height: 600px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../img/contact-bg.jpg) no-repeat;
}
.contact {
  width: 1100px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
}
.contact figure {
  width: 298px;
  height: 400px;
  overflow: hidden;
  margin-right: 100px;
  margin-left: 97px;
}
.contact .way {
  margin-right: 80px;
}
.way p,
.way h2 {
  margin-top: 10px;
}
.way p span,
.way p a {
  display: block;
  line-height: 1.3;
}
.welcome span:first-child {
  color: #E01C21;
  font-size: 25px;
}
.welcome span:last-child {
  color: #afafaf;
  font-size: 14px;
  font-family: arial;
}
.way h2 {
  color: #313131;
  font: 600 48px arial;
  text-transform: uppercase;
}
.tel a {
  font: 600 28px impact;
  color: #e01c21;
}
.tel span {
  font: 14px arial;
  color: #afafaf;
}
.way .contact-address {
  margin-top: 20px;
}
.contact-address span:first-child {
  margin-bottom: 5px;
  font-size: 14px;
  color: #434343;
}
.contact-address span:last-child {
  font-size: 14px;
  color: #787878;
}
.way .phone {
  margin-top: 20px;
}
.way .phone span,
.way .phone a {
  font-size: 12px;
  color: #787878;
  line-height: 1.6;
}
.phone span:first-child {
  margin-bottom: 5px;
  font: 14px arial;
  color: #434343;
}
.way-other .email-and-url {
  margin-top: 10px;
}
.email-and-url span,
.email-and-url a {
  display: block;
  font: 12px arial;
  color: #787878;
  line-height: 1.6;
}
.email-and-url span:first-child {
  margin-bottom: 5px;
  font-size: 14px;
  color: #434343;
}
.way-other .code {
  margin-top: 35px;
}
.code span {
  margin-bottom: 15px;
  display: block;
  line-height: 1.3;
}
.code img {
  display: block;
  z-index: 2;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 8px #ccc;
}
/*留言部分*/
.contact-message-bg {
  width: 1920px;
  max-width: 100%;
  height: 777px;
  padding-top: 110px;
  background: url(../img/contact-message-bg.jpg) no-repeat;
}
.contact-message {
  width: 940px;
  height: 570px;
  margin-right: auto;
  margin-left: auto;
  padding: 70px 100px 0;
  background-color: #fff;
}
.contact-message > div {
  margin-bottom: 25px;
}
.contact-message label,
.contact-message input,
.contact-message textarea,
.contact-message button {
  display: block;
  float: left;
}
.contact-message label,
.contact-message input,
.contact-message button {
  height: 42px;
  line-height: 42px;
}
.contact-message label {
  font-size: 16px;
  color: #434343;
  margin-right: 5px;
}
.contact-message input {
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid #c2c2c2;
}
.name input,
.phone input {
  width: 300px;
}
.address input {
  width: 400px;
}
.content textarea {
  min-width: 640px;
  max-width: 640px;
  min-height: 128px;
  max-height: 170px;
  padding: 10px 14px;
  line-height: 24px;
  border: 1px solid #c2c2c2;
  font-size: 14px;
}
.submit-and-reset button {
  width: 100px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 10px;
  padding-left: 10px;
}
.submit-and-reset .submit {
  margin-left: 100px;
  margin-right: 30px;
  color: #fff;
  background-color: #D9241B;
}
.submit-and-reset .reset {
  color: #434343;
  border: 1px solid #d9d9d9;
  background-color: #fff;
}
/*===关于我们===*/
.about-intro {
  margin-top: 90px;
}
.about-intro h2 {
  font-size: 30px;
  color: #4c4c4c;
  font-weight: 500;
  margin-bottom: 30px;
}
.about-intro article {
  font-size: 16px;
  line-height: 1.5;
  color: #4c4c4c;
}
.about-intro article .side-left {
  width: 710px;
}
.about-intro article p {
  font-size: 16px;
  line-height: 1.5;
  color: #4c4c4c;
  text-indent: 2em;
  margin-bottom: 20px;
}
.about-intro article p:last-of-type {
  margin-bottom: 0;
}
.about-intro article .side-right {
  width: 360px;
  height: 370px;
}
/*组织架构*/
.framework {
  margin-top: 90px;
}
.framework h2 {
  font-size: 30px;
  color: #4c4c4c;
  font-weight: 500;
  margin-bottom: 30px;
}
.framework figure {
  width: 845px;
  height: 836px;
  margin-right: auto;
  margin-left: auto;
}
/*企业文化*/
.culture-bg {
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: #f4f4f4;
}
.culture {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.culture-item {
  float: left;
  width: 25%;
  height: 179px;
  padding-top: 53px;
  background: url(../img/company-info-bg.png) no-repeat center center;
  text-align: center;
  font-size: 24px;
  color: #fff;
  line-height: 37px;
}
.culture-text {
  margin-top: 60px;
  text-align: center;
}
.culture-text p {
  line-height: 2;
  font-size: 12px;
  color: #999;
}
.culture-text p strong {
  font-size: 18px;
  color: #e01c21;
}
/*===新闻动态===*/
/* 分页 */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #b3b3b3;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #b3b3b3;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #d9241b;
  border-color: #d9241b;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #d9241b;
  border-color: #d9241b;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #fff;
  cursor: not-allowed;
  background-color: #d9241b;
  border-color: #d9241b;
}
<<<<<<< HEAD
/*.pagination a {
    text-decoration: none;
	border: 1px solid #AAE;
	color: #15B;
}
.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}
.pagination .current {
    background: #26B;
    color: #fff;
	border: 1px solid #AAE;
}
.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}*/
=======
>>>>>>> origin/master
/*===新闻动态详情===*/
.news-info {
  margin-top: 50px;
}
.news-info h1 {
  font-size: 30px;
  font-weight: 500;
  color: #666;
  line-height: 1.2em;
  text-align: center;
}
.news-info time {
  display: block;
  color: #666;
  text-align: center;
}
.news-info .article-details {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
}
.news-info .article-details img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 30px auto;
}
.news-info .article-details p {
  margin-top: .9em;
  margin-bottom: .9em;
  color: #666;
  line-height: 1.8;
  text-indent: 2em;
  text-align: justify;
  word-wrap: break-word;
}
/* 上一篇，下一篇 */
.page {
  margin-top: 20px;
  margin-bottom: 60px;
}
.page .page-pre,
.page .page-next {
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page .page-next {
  text-align: right;
}
.page-pre a:hover,
<<<<<<< HEAD
.page-next a:hover { color: #d9241b; }

/*===工程案例===*/
.case-main {
	padding-top: 40px;
	background-color: #f0f2f5;
}
.case-tab {
	margin-bottom: 30px;
	height: 60px;	
	background-color: #fff;
	border-radius: 5px;
	border-bottom: 1px solid #e6e6df;
}
.case-tab li {
	float: left;
}
.case-tab li a {
	display: block;
	height: 60px;
	line-height: 60px;
	padding-right: 30px;
	padding-left: 30px;
	border-right: 1px solid #e6e6df;
	margin-left: -1px;
	font-size: 14px;
	color: #4d4d4d;
}
.case-list li {
	float: left;	
}
.case-list li a {
	display: block;	
	width: 350px;
	height: 374px;
	margin-right: 25px;
	margin-bottom: 30px;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	overflow: hidden;
}
.case-tab li a:hover,
.case-tab li.ui-state-active a {
	background-color: #ddd;
}
.case-tab li.ui-state-active a{
	cursor: default;
}
.case-list li:nth-of-type(3n+3) a {
	margin-right: 0;
}
.case-list li figure {
	margin-right: -20px;
	margin-left: -20px;
	width: 350px;
	height: 250px;
	overflow: hidden;
}
.case-list li figure img {
	display: block;
	width: 350px;
	height: 250px;
}
.case-list li h3 {
	font-size: 14px;
	font-weight: normal;
	color: #434a54;
	margin-top: 20px;
}
.case-list li .type {
	font-size: 14px;
	color: #97a3b0;
	margin-top: 15px;
}
.case-list li .look-time {
	margin-top: 15px;
	font-size: 15px;
	color: #97a3b0;
}
.case-list li .look-time:before,
.case-list li .look-time:after {
	display: table;
	content: "";
}
.case-list li .look-time:after {
	clear: both;
}
.case-list li .look-time span:first-child {
	float: left;	
}
.case-list li .look-time span:last-child {
	float: right;	
}

/*===案例详情===*/
.case-info-main {
	background-color: #f0f2f5;
	padding-top: 40px;
}
.case-info-main h1 {
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 20px;
}
.case-info-main h1 span {
	position: relative;
	display: inline-block;
	font-size: 14px;
	color: #bbb;
	letter-spacing: 8px;
	padding-left: 8px;
	height: 30px;
	line-height: 30px;
}
.case-info-main h1 span:before {
	content: "";
	width: 60px;
	height: 2px;
	background-color: #999;
	position: absolute;
	left: -80px;
	top: 14px;
}
.case-info-main h1 span:after {
	content: "";
	width: 60px;
	height: 2px;
	background-color: #999;
	position: absolute;
	right: -80px;
	top: 14px;
}
/* 文章正文 */
.case-info-content .article {
	width: 830px;
	padding-right: 20px;
	margin-bottom: 20px;
	border-right: 1px dotted #ddd;
}
.case-info-content .article .article-details {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
}
.case-info-content .article img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 30px auto;
}
.case-info-content .article p {
  margin-top: .9em;
  margin-bottom: .9em;
  color: #666;
  line-height: 1.8;
  text-indent: 2em;
  text-align: justify;
  word-wrap: break-word;
}
.case-info-content .complementary {
	width: 230px;
}
.case-info-content .complementary h2 {
	font-size: 18px;
	color: #333;
	margin-bottom: 15px;
}
.complementary .case-thumbnails {
	width: 230px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	overflow: hidden;
	margin-bottom: 25px;
}
.complementary .case-thumbnails img {
	display: block;
	width: 230px;
}
.case-info-content .complementary .back-list {
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border: 1px solid #999;
	font-size: 14px;
	color: #6b6b6b;
  	margin-bottom: 30px;
}
/* 上一篇，下一篇 */
.case-info-page div {
	font-size: 16px;
	color: #00552e;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.case-info-page div a {
	color: #6b6b6b;
	font-size: 14px;
}
.case-info-page div a:hover {
	color: #00552e;	
}

/*===招标信息===*/
.tender {
	margin-top: 60px;
}
.tender h2 {
	font-size: 30px;
	color: #4C4C4C;
	font-weight: 500;
}
.tender-item {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #b3b3b3;	
}
.tendering-item,
.tendering-item a {
	color: #000;
}
.tendered-item,
.tendered-item a {
	color: #666;
}
.tender-item a {
	display: block;
	font-size: 0;
}
.tender-item .tender-status {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-right: 30px;
	width: 83px;
	height: 60px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center 5px;
}
.tender-item .tendering {
	background-color: #00b27e;
	background-image: url(../img/tendering.png);
}
.tender-item .tendered {
	background-color: #b2b2b2;
	background-image: url(../img/tendered.png);
}
.tender-item .tender-status span {
	display: inline-block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, .5);
	font-size: 12px;
}
.tender-item a {
	display: block;
	font-size: 0;
}
.tender-item a .text {
	width: 970px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}
.tender-item .text h3 {
	display: inline-block;
	vertical-align: middle;
	width: 850px;
	margin-right: 20px;
	font-size: 18px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tender-item .text time {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 30px;
}
.tender-item .text p {
	font-size: 15px;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 5px;
}

/*===招标具体项目===*/
.tender-info {
	margin-top: 60px;
}
.tender-info h2 {
	font-size: 30px;
	color: #4C4C4C;
	font-weight: 500;
}
.tender-info table {
	margin-top: 30px;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}
/*.tender-info table tr {
	line-height: 60px;
}*/
.tender-info table tr th,
.tender-info table tr td {
	border-right: 1px solid #91b0d7;
	border-bottom: 1px solid #91b0d7;
	padding: 20px;
}
.tender-info table tr th {
	padding: 10px 20px;
}
.tender-info table tr th:first-child,
.tender-info table tr td:first-child {
	border-left: 1px solid #91b0d7;
}
.tender-info table td:first-child {
	font-weight: bold;
	width: 260px;
}
.tender-info table th {
	background-color: #91b0d7;
	color: #fff;
}
.tender-info table tr:first-child th:first-child {
	border-top: 1px solid #91b0d7;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.tender-info table tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
.tender-info table tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
	position: relative;
}
.tender-info table .download {
	position: absolute;
	top: 50%;
	right: 30px;
	margin: auto;
	transform: translate(0, -50%);
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #e01c21;
	color: #fff;
	font-size: 20px;
	border-radius: 15px;
}
.want-tender {
	width: 177px;
	height: 177px;
	display: block;
	background: url(../img/want-tender.png) no-repeat center;
	margin: 60px auto 170px;
}
.want-tender-wrap {
	z-index: 999;
	display: none;
	position: relative;
	/*top: 0;*/
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}
.want-tender-item {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 940px;
	padding: 50px 100px;
	background-color: #fff;
}
.want-tender-item h3 {
	margin-bottom: 20px;
	font-size: 18px;
	color: #434343;
}
.want-tender-item-form > div {
	margin-bottom: 25px;
}
.want-tender-item-form > div:before,
.want-tender-item-form > div:after {
	content: "";
	display: table;
}
.want-tender-item-form > div:after {
	clear: both;
}
.want-tender-item-form label,
.want-tender-item-form input,
.want-tender-item-form textarea,
.want-tender-item-form button {
	display: block;
	float: left;
}
.want-tender-item-form label,
.want-tender-item-form input,
.want-tender-item-form button {	
	height: 42px;
	line-height: 42px;
}
.want-tender-item-form label {
	font-size: 16px;
	color: #434343;
	margin-right: 5px;;
}
.want-tender-item-form input {
	padding-right: 16px;
	padding-left: 16px;
	border: 1px solid #c2c2c2;
}
.name input,
.phone input,
.address input {
	width: 300px;	
}
.address input {
	width: 400px;	
}
.submit-and-close button {
	width: 100px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 10px;
	padding-left: 10px;
}
.submit-and-close .submit {
	margin-left: 100px;
	margin-right: 30px;
	color: #fff;
	background-color: #D9241B;
}
.submit-and-close .close {
	color: #434343;
	border: 1px solid #d9d9d9;
	background-color: #fff;
}
.select-file {
	z-index: 1000;
	position: relative;
	float: left;
	margin-left: 80px;
	width: 250px;
	height: 40px;
	cursor: pointer;
}
.select-file #file {
	z-index: 1002;
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 40px;
	opacity: 0;
	cursor: pointer;
}
.select-file .uersDefined {
	z-index: 1001;
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 40px;
	line-height: 40px;
	background: url(../img/file-icon.png) no-repeat left center;
}
.select-file .uersDefined input {
	position: absolute;
	top: 0;
	left: 50px;
	width: 200px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #434343;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: none;
	padding-right: 0;
	padding-left: 0;
}
.add-file {
	float: left;
	margin-left: 30px;
	min-width: 40px;
	height: 40px;
	background: url(../img/add-icon.png) no-repeat left center;
	font-size: 16px;
	color: #434343;
	padding-left: 50px;
=======
.page-next a:hover {
  color: #d9241b;
>>>>>>> origin/master
}
